##Name : Dharnidhar Deshmukh

##Refral code : IIPRSS5306

#                                              Pandas Assignment 1A



### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Step 2. Import the dataset

In [ ]:
df = pd.read_csv('/content/Pandas Assign 1(A).tsv',sep='\t')

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = df

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

### Step 6. What is the number of columns in the dataset?

In [ ]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
c = chipo.groupby('item_name').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(2)

                 order_id  quantity
item_name
Chicken Bowl       713926       761
Chicken Burrito    497303       591

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
a = chipo.groupby('choice_description').sum()
a = a.sort_values(['quantity'], ascending = False)
a.head(2)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159
[Coke]                122752       143

### Step 12. How many items were orderd in total?

In [ ]:
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
try:
    dollarizer = lambda x: float(x[1:-1])
    chipo.item_price = chipo.item_price.apply(dollarizer)
    
except:TypeError

#### Step 13.c. Check the item price type

In [ ]:
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [ ]:
revenue = (chipo['quantity'] * chipo['item_price']).sum()

print(revenue)

39237.02

### Step 15. How many orders were made in the period?

In [ ]:
orders = chipo.order_id.value_counts().count()
orders

1834

### Step 16. What is the average revenue amount per order?

In [ ]:
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
d = order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.39423118865867

In [ ]:
chipo.groupby('order_id').sum().mean()['revenue']

21.39423118865867

### Step 17. How many different items are sold?

In [ ]:
chipo.item_name.value_counts().count()

50

### Step 18. How many products cost more than $10.00?

In [ ]:
np.count_nonzero(chipo.item_price>10.00)

1130

### Step 19. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [ ]:
chipo1 = chipo.groupby(by ="item_name")[["item_price"]].min().reset_index()
chipo1

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

### Step 20. Sort by the name of the item

In [ ]:
chipo.sort_values(by = "item_name",ascending=True).reset_index(drop=True)

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,25.96
1,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
3,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
4,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
4617,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
4618,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
4619,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
4620,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
4621,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 21. What was the quantity of the most expensive item ordered?

In [ ]:
xx = np.where(chipo.item_price == chipo.item_price.max(),chipo.quantity,0)
for i in xx:
    if i!=0:
        print("Quantity of the most expensive item ordered is : ",i)

Quantity of the most expensive item ordered is :  15

### Step 22. How many times were a Veggie Salad Bowl ordered?

In [ ]:
temp = np.count_nonzero(chipo.item_name == "Veggie Salad Bowl")
print(temp,"times a Veggie Salad Bowl was ordered")

18 times a Veggie Salad Bowl was ordered

### Step 23. How many times people orderd more than one Canned Soda?

In [ ]:
temp1 = np.count_nonzero((chipo.item_name == "Canned Soda") & (chipo.quantity > 1))
print(temp1,"times people orderd more than one Canned Soda")

20 times people orderd more than one Canned Soda